<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="profile.css">
    <title>uornotes profile</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


 <script>
        function myFunction(){

var x = document.getElementById("container");
var z = document.getElementById("h1");

  if (x.style.display == "none") {
    x.style.display = "block";
    z.style.marginTop = "3.5rem";
  } else {
    x.style.display = "none";
    z.style.marginTop = "1.3rem";
  }
};
function toggleCommentForm(postId) {
  var commentAddDiv = document.querySelector('#comment-addd-' + postId);
  var commentForm = document.querySelector('#comment-form-' + postId);
  if (commentAddDiv.style.display === 'none') {
    commentAddDiv.style.display = 'block';
    commentForm.querySelector('.comment-input').focus();
  } else {
    commentAddDiv.style.display = 'none';
  }
}

$(document).on('click', '.like-btn', function(event) {
  event.preventDefault(); // Prevent the default button click behavior
  
  const postId = $(this).data('post-id'); // Get the post ID from the button data
  
  // Send an AJAX request to the server to increment the like count
  $.ajax({
    url: `/like-post/${postId}`,
    method: 'POST',
    success: function(response) {
      // Update the like count in the UI
      const likesCount = response.likesCount;
      $(`.like-btn[data-post-id="${postId}"]`).text(`${likesCount} likes`);
      console.log(likesCount);
    },
    error: function(error) {
      console.error(error);
    }
  });
});

$(document).ready(function() {
  $(".comment-form").submit(function(event) {
    event.preventDefault(); // Prevent the form from submitting normally

    var formData = $(this).serialize(); // Get the form data

    // Send the comment data with Ajax
    $.ajax({
      type: "POST",
      url: "/comment",
      data: formData,
      success: function(response) {
        // If the comment is successfully added, update the comment section
        var commentHtml = '<div class="comment">' +
                            '<ul>' +
                              '<a href=""><li><img src="' + response.avatar + '" alt="Profile Picture" id="googleimg"></li></a>' +
                              '<a href=""><li id="username">' + response.name + '</li></a>' +
                            '</ul>' +
                            '<p id="this-comment">' + response.comment + '</p>' +
                          '</div>';

        $("#comment-add-" + response.postid).prepend(commentHtml); // Add the new comment to the comment section
        $("#comment-form-" + response.postid)[0].reset(); // Clear the form
      },
      error: function() {
        alert("Error adding comment");
      }
    });
  });
});


</script>
<style>
   
   
</style>
<body>


    <div class="navbar">
        <i class="fas fa-bars" id="menubars" onclick="myFunction()"></i>
        <i class="notes">Yournotes.com</i>
          <div id="container">
                <ul>
                 <a href="/protected"> <li>Home</li></a>
                <a href="/searchnotes"> <li> SearchNotes</li></a>
                 <a href="/upload"><li>UploadNotes</li></a>
                <a href="/logout"><li>Logout</li></a>
               
                
                </ul>
          </div>
          <div class="profile">
            <ul>
                <a href=""> <li> <img src="{{user.avatar}}" alt="Profile Picture" id="googleimg"></li></a>
                                                                                  
             
            </ul>
          </div>
       
       
    </div>
  <!--  <div class="profile-div">
       <ul>
                <a href=""> <li> <img src="{{user.avatar}}" alt="Profile Picture" id="googleimg"></li></a>
       </ul>

    </div> -->
  <div class="post-all"> 
 <div class="foreachpost">
  {{#each userPosts}}
  <div class="post">
         <ul>
                <a href=""> <li> <img src="{{this.user.avatar}}" alt="Profile Picture" id="googleimg"></li></a>
                <a href=""> <li id="username"> {{this.user.name}} </li> </a>                                                                      
                <a href=""> <li id="username">{{timeago createdAt}}</li> </a>
        </ul>
        
           
    <p>{{this.posttext}}</p>
    {{#if this.postimage}}
      <img id="postimage" src="{{this.postimage}}" alt="invalid Image format">
    {{/if}}
    <div class="post-interactions">
  
      <button class="like-btn" data-post-id="{{this._id}}">{{this.likes.length}} likes</button>

      <button class="comment-btn" onclick="toggleCommentForm('{{this._id}}')">Comment</button>
    </div>
    <div class="comment-addd" id="comment-addd-{{this._id}}"  style="display: none;">
  <form class="comment-form" id="comment-form-{{this._id}}">
    <input type="text" name="comment" class="comment-input" placeholder="add a comment..." required>
    <input type="hidden" name="postid" value="{{this._id}}">
    <button type="submit" class="comment-submit-btn">Post</button>
  </form>
  
  <hr>
  <div class="comment-add" id="comment-add-{{this._id}}">
  {{#each this.comments}}
    <div class="comment">
      <ul>
        <a href=""><li><img src="{{this.user.avatar}}" alt="Profile Picture" id="googleimg"></li></a>
        <a href=""><li id="username">{{this.user.name}}</li></a>
      </ul>
      <p id="this-comment">{{{this.comment}}}</p>
    </div>
  {{/each}}
 </div>
</div>
    
    
  
 </div>
{{/each}}
</div>
<div class="foreachdocument">
{{#each uploads}}
  <table >
  <thead>
    <tr>
      <th>Filename</th>
      <th>Subject</th>
      <th>Uploader Name</th>
      <th>Download Link</th>
    </tr>
  </thead>
  <tbody>
   
      <tr>
        <td>{{this.filename}}</td>
        <td>{{this.subject}}</td>
        <td>{{this.uploader_name}}</td>
        <td><a href="{{this.downloadLink}}">Download</a></td>
      </tr>
    
  </tbody>
</table>
{{/each}}
</div>
</div>
    
</body>
</html>
